* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
	margin: 0;
	padding: 0;
}

.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

/*video styles
*/

#overlay {
	position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  height: 100%;
  width: 100%;
  background: #ffffff;
  opacity: 0.6;
  display: none;
}

#video {
	display: none;
	position: absolute;
	top: 15%;
	left: 10%;
	width: 80%;
	z-index: 99;
}

#video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

#video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*background */

.top {
	overflow: hidden;
	background-color: black;
	height: 533px;
}

/*artists image*/

.image {
	margin: 65px 65px 0px 95px;
	float: left;
	border-radius: 50%;
	height: 325px;
	width: 25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
}

/*play button for video popup*/

.button {
  background-color: #c6c6c6;
  border-radius: 10px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0px 280px 20px 165px;
  clear: both;
  width: 10%;
}

/*container for description and image*/

.musicians_container {
	margin: 5px 25px -20px 25px;
	width: 100%;
	overflow: hidden;
	float: right;
}

/*diana ross
*/

header {
	font-family: 'Monoton', cursive;
	font-size: 50px;
	text-align: center;
	padding: 10px;
}

.diana_ross_image {
	margin: 65px 65px 0px 95px;
	border-radius: 50%;
	height: 325px;
	width: 25%;
	background-image: url("../images/diana ross 2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
}

.diana_ross_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*the four tops
*/

.typeface {
	font-family: 'Monoton', cursive;
	font-size: 50px;
	text-align: center;
	padding: 10px;
}

.four_tops_image {
	margin: 65px 65px 0px 95px;
	float: left;
	border-radius: 50%;
	height: 325px;
	width: 25%;
	background-image: url("../images/the four tops 2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right center;
}

.four_tops_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*smokey robinson*/


.smokey_robinson_image {
	background-image: url("../images/smokey robinson 2.jpg");
}

.smokey_robinson_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*marvin gaye*/

.marvin_gaye_image {
	background-image: url("../images/marvin gaye 2.jpg");
}

.marvin_gaye_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*the temptations*/

.the_temptations_image {
	background-image: url("../images/the temptations 2.jpg");
}

.the_temptations_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*al green*/

.al_green_image {
	background-image: url("../images/al green 2.jpg");
}

.al_green_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*barbara mcnair*/

.barbara_mcnair_image {
	background-image: url("../images/barbara mcnair 2.jpg");
}

.barbara_mcnair_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*lionel richie*/

.lionel_richie_image {
	background-image: url("../images/lionel richie 2.jpg");

}

.lionel_richie_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*syreeta wright*/

.syreeta_wright_image {
	background-image: url("../images/syreeta wright 2.jpg");
}

.syreeta_wright_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*the pointer sisters*/

.the_pointer_sisters_image {
	background-image: url("../images/the pointer sisters 2.jpg");
}

.the_pointer_sisters_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*stevie wonder*/

.stevie_wonder_image {
	background-image: url("../images/stevie wonder 2.jpg");
}

.stevie_wonder_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}

/*the jackson five*/

.the_jackson_five_image {
	background-image: url("../images/the jackson 5 2.jpg");
}

.the_jackson_five_description {
	color: gray;
	font-family: "Raleway" , sans-serif;
	font-size: 18px;
	font-style: italic;
	float: left;
	width: 55%;
	margin: 60px 30px 50px 25px;
	line-height: 27px;
}
