* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
	margin: 0;
	padding: 0;
}

.round {
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 12px; 

	/* Firefox 1-3.6 */
	-moz-border-radius: 12px; 

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 12px; 
}

/*navigation bar*/

.motown-records {
	color: #faebd7;
	font-size: 35px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	float: left;
	margin-left: 45px;
	margin-top: 35px;
}

.motown-records:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	color: white;
}

a:visited, a:link {
	color: #fff;
	text-decoration: none;
}

header { 
	border-top: solid 8px #fff;
	background-color: #456990; /*#ADD8E6*/
	overflow: hidden;
	border-bottom: solid 8px #fff;
	padding-top: 25px;
}

.nav-container {
	float: right;
	margin-right: 35px;
}

.nav {
	float: left;
	color: #fff;
	padding-top: 40px;
	margin: 0 20px 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 900;
	border: 3px solid #fff;
	border-radius: 50%;
	width: 105px;
	height: 105px;
	text-align: center;
}

ul li {
	list-style-type: none;
}

.nav:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*custom mouse*/

body {
	cursor: url('http://static1.squarespace.com/static/5446e19be4b090557e5db038/t/5781e116f7e0aba104d26d3e/1468129558387/cursor2.png'), auto !important;
}

/*collage*/

.hero-image {
	background-image: url("../images/faces.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


/*marvin gaye quote*/

.tagline-main {
	background-color: #456990;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 700;
	padding: 25px;
	border-top: solid 8px #fff;
	border-bottom: solid 8px #fff;
}

h2 {
	font-weight: 700;
	text-align: center;
}

#marvin_gaye {
	font-style: italic;
	padding-left: 20px;
}

.white-bar {
	background-color: #fff;
	padding-bottom: 150px;
}

/* the sound that changed america*/
#location {
	background-color: #D3D3D3;
	overflow: hidden;
	border-bottom: solid 8px #fff;
	padding-bottom: 30px;
}

.float{
	overflow: hidden;
	width: 100%;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #808080;
	text-align: center;
	padding: 45px 0px 15px 0px;
}

.hitsville {
	padding: 30px;
	font-family: "Raleway", sans-serif;
	margin: 0px 155px 0px 155px;
	color: #808080;
}

/*circles with artists container*/

#artists {
	background-color: #000;
	overflow: hidden;
	padding-bottom: 80px;
}

/*circles*/
#parent-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	margin-left: 30px;
}

.circle{
	margin: 46px;
	float: left;
	border-radius: 50%;
	height: 325px;
	width: 25%;
}

.circle:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); 
}

a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.circle:hover span {
  display: block;
}

.circle_1 {
	background-image: url("../images/diana ross.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/*.divbutton {
	height: 100px;
	margin-top: 162px;
	padding: 10px 30px 10px 30px;
	font-family: "Raleway", sans-serif;
}

.play {
	font-family: "Raleway", sans-serif;
	padding: 0px 30px 0px 30px;
}*/



.circle_2 {
	background-image: url("../images/the four tops.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.circle_3 {
	background-image: url("../images/smokey robinson.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.circle_4 {
	background-image: url("../images/marvin gaye.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
}

.circle_5 {
	background-image: url("../images/the temptations.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.circle_6 {
	background-image: url("../images/al green.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_7 {
	background-image: url("../images/barbara mcnair.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_8 {
	background-image: url("../images/lionel richie.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_9 {
	background-image: url("../images/syreeta wright.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_10 {
	background-image: url("../images/the pointer sisters.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_11 {
	background-image: url("../images/stevie wonder.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.circle_12 {
	background-image: url("../images/jackson 5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*timeline*/

#history {
	background-color: #456990;
	border-bottom: 30px;
	overflow: hidden;
	padding-bottom: 300px;
}

time {
	font-family: "Helvetica", sans-serif;
	font-size: 25px;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #fff;
}

.timeline ul li::after {
	background: #faebd7;
	transition: background .5s ease-in-out;
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #000;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #000 transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #000;
} 

.spacing {
	font-family: "Helvetica", sans-serif;
	font-size: 15px;
	color: gray;
	padding-bottom: 15px;
}

#playlists {
	background-color: #D3D3D3;
	padding: 50px 0px 50px 180px;
	overflow: hidden;
	margin-top: 150px;
}

#contact_form {

}




 






